<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- display all the items in a table -->
    <table>
        <tr>
            <th>id</th>
            <th>item</th>
        </tr>
        <!-- iterate through the results -->
        {% for item in results%} 
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        <!-- must have an "endfor"! dont forget -->
        {% endfor %}
    </table>

    <!-- Now make a form to input a new item. It uses the route "add_item" in the app.py file
     Don't forget to add the form "action" when you use it yourself-->
    <form action="/add_item" method="post">
        <label for="item_name">Item Name</label>
        <input type="text" name="item_name">
        <input type="submit" value="Add">
    </form>
</body>
</html>