body,h1,h2,h3,h4,h5,h6 {font-family: Montserrat, sans-serif;}

.five-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
}

/* all images 100 percent*/

img{
    width: 25%;
}