{% extends "base.html" %}

    {% block body %}
      <title>Outerspace Project</title>

      <div class="w3-container w3-margin-top">
        <h2>An Outerspace Project</h2>
        <p>This archive website was created as a student let mission where all people can access information about the famous 1960’s -70’s mission to reach the moon. </p>
        <h1>Tell Me More!</h1>
        <p>After World War II, the United States and the Soviet Union (USSR) began a clash dubbed as the Cold War. Uniquely, this was untraditional in the sense their rivalry was waged on other fronts than battle, including cultural, technological, military and political areas. The Space Race was an extension of the cold war that began as an arms race, during the front-end many wins went to the Soviet Union, therefore retaliation arrived in the form of President Kennedy’s goal in 1961 to be the first country to step foot on the moon. The rockets that initiated the space age were originally missile launchers for WWII, the investment to develop rockets became the key technologies that determined each country's success.</p>
        <p>Although it was a 45-year clash, the 60’s and 70’s proved to be the mountain peak of this race. Federal spending on the U.S. space program, especially in the 1960s, was considerable and characterized by almost unheard-of rates of growth. Outlays on space and science went from $0 in 1948 to more than $100 million in 1957 and peaking at $7 billion in 1967. </p>
        <p>On April 12, 1961, the U.S.S.R. launched the first human into orbit, Yuri Gagarin, on Vostok 1.</p>
        <p>On February 20, 1962, John Glenn, on Mercury-Atlas 6, became the first American in orbit.</p>

          <p>Between June 16 and June 19, 1963, Valentina Tereshkova, on Vostok 6, became the first woman in space.</p>

          <p>October 12, 1964, the U.S.S.R. launched the first multi-person spacecraft, Voskhod 1, with cosmonauts Vladimir Komarov, Konstantin Feoktistov, and Boris Yegorov.</p>

          <p>On March 18, 1965, the first space walk was performed, by Aleksei Leonov on Voskhod 2.</p>

          <p>On March 23, 1965, the U.S. launched the first multi-person U.S. spacecraft, Gemini 3, with Virgil Grissom and John Young.</p>

          <p>On June 3, 1965, the first American space walk was completed by Ed White on Gemini 4.</p>

          <p>On March 16, 1966, the first docking in space took place. Neil Armstrong and David Scott on Gemini 8 docked with an Agena target.</p>

          <p>On January 27, 1967, astronauts Virgil Grissom, Ed White, and Roger Chaffee were killed in a fire during a launchpad test. The Apollo program was delayed for a year and a half.</p>

          <p>On April 23, 1967, cosmonaut Vladimir Komarov, on Soyuz 1, became the first spaceflight fatality.</p>

          <p>Between September 14 and 21, 1968, the uncrewed Soviet probe Zond 5 became the first spacecraft to fly around the Moon and return to Earth.</p>

          <p>July 3, 1969, marked the explosion of the Soviet N1 Moon rocket.</p>

           <p>On July 20, 1969, the first humans landed on the Moon: Neil Armstrong and Buzz Aldrin on Apollo 11.</p>
        <h1>About the Creator</h1>
        <p>This is a school project made for grade submission originating in NZ.</p>
      </div>
    {% endblock body %}
