<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Space Race</title>
  </head>

  <body class="w3-container">

    <nav class="w3-bar top-nav w3-container">
      <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
      <a href="{{ url_for('about') }}" class="w3-bar-item w3-button">About</a>
      <a href="{{ url_for('credits') }}" class="w3-bar-item w3-button">Credits</a>
      <a href="{{ url_for('form') }}" class="w3-bar-item w3-button">Any Questions?</a>
    </nav>

    <div class="unique-base-container"></div>

    <!-- Shared Navigation Bar -->
    <nav class="w3-bar nav w3-container">
      <a href="{{ url_for('get_rockets') }}" class="w3-bar-item w3-button">Rockets</a>
      <a href="{{ url_for('get_missions') }}" class="w3-bar-item w3-button">Missions</a>
      <a href="{{ url_for('get_locations') }}" class="w3-bar-item w3-button">Locations</a>
      <a href="{{ url_for('get_joints') }}" class="w3-bar-item w3-button">Mission Overview</a>
    </nav>

    {% block body %}
    {% endblock body %}

    <div class="footer">
      <p>Footer</p>
    </div>
  </body>
</html>
