{% extends "base.html" %}

    {% block body %}
        <form action="contact.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">

        <h2>Questions</h2>

        <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-user xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
            Name: <input class="w3-input w3-border" name="first_name" type="text" placeholder="First Name">
        </div>
        </div>

        <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-user xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
        Last Name: <input class="w3-input w3-border" type="text" name="last_name" placeholder="Last Name">
        </div>
        </div>

        <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-user xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
        Email: <input class="w3-input w3-border" type="text" name="email" placeholder="Email">
        </div>

        <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-user xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
        Comment: <input class="w3-input w3-border" name="comment" type="text" placeholder="Comment">
        </div>
        </div>

        <input type="submit" name="submit" value="Submit">  
        </form>

    {% endblock body%}
