{% extends "base.html" %}

  {% block body %}
    <title>Explore More!</title>
      <div class="w3-container">
        <h1>Copyright & Creditations</h1>
        <h2>NZ Educational Copyright guidelines</h2>
        <p>Under Copyright in the Primary and Secondary Education Sector of Tāwhia Copyright Aotearoa on their official website, “The education provisions contemplate use within the class room situation for teachers, lecturers and students enrolled in a course of study. Establishments are not allowed to charge students for the supply of copied material produced by a “reprographic process” (such as photocopying or electronic copying) under the Copyright Act.” In the process of formulating this website, textual and photographic resources were used under the guidelines of this act. (2025). In Copyright.co.nz. https://support.copyright.co.nz/portal/en/kb/articles/exceptions-for-educational-use-zui1aa </p>
        <h2>Google & Wikimedia Commons</h2>
        <h3>Furthermore, these photos were pulled from Google and Wikimedia Commons where their respective terms of use applied as such;</h3>
        <p>Wikimedia Commons is a website that utilises a Creative Commons license on their media. The rocket images pulled from Wikimedia Commons are all under this free license. The terms of use state: You are free to: Read and Print our articles and other media free of charge. Share and Reuse our articles and other media under free and open licenses. Under their following conditions which can be found in the Terms of Use: https://foundation.wikimedia.org/wiki/Policy:Terms_of_Use. </p>
        <p>Google Copyright states a factor of Fair Use is: 1. The purpose and character of the use, including whether such use is of commercial nature or is for nonprofit educational purposes. This website is only an educational private project that won’t be used for commercial purposes. What is “Fair Use?” - Legal Help. (2019). In Google.com. https://support.google.com/legal/answer/4558992?hl=en </p>
        <h2>Dataset</h2>
        <p>Maven Analytics provides free datasets to use. This website was built from this dataset; Free Sample Dataset Download - Space Missions - Maven Analytics | Build Data Skills, Faster. (2022). In Mavenanalytics.io. https://mavenanalytics.io/data-playground/space-missions.</p>
        <h2>Creative Elements</h2>
        <p>Canva states; “You can use Free content at no cost – as the name suggests! Our Free and Pro Content licenses cover all of the content we offer (except for Popular Music!) from photos, icons and illustrations, to videos, audio, fonts and templates.” This website adopts Canva free elements in production of the background and styling. Licensing Explained | Canva. (2024). In Canva. https://www.canva.com/licensing-explained/ </p>
        <h2>Resources</h2>
        <p>The blurbs and contextual excerpts were created using information from the following source; What Was the Space Race? (2023). In National Air and Space Museum. Smithsonian. https://airandspace.si.edu/stories/editorial/what-was-space-race </p>
      </div>
  {% endblock body %}