<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>500 Error</title>
</head>
<body id="error-body">
    <div class="error-container">
        <h1 id="error-h1">500 Error</h1>
        <h2 id="error-h2">Oops it's us, not you!</h2>
        <p id="error-p">
            An unexpected server error occured while processing your request. Try heading back to the home or trying again shortly!
        </p>
        <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Go back to Home!
        </a>
    </div>
</body>
</html>