{% extends "base.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block body %}
<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
      <img src="{{ url_for('static', filename='images/pls.jpg') }}" style="width:100%">
      <div class="text">
        <h1>“For the eyes of the world now look into space, to the Moon, and to the planets beyond.”</h1>
        <p>Speaker: President John F. Kennedy, Event: Address to Congress on Urgent National Needs, 1961</p>
      </div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
      <div class="text"><p>Welcome to the Space Race Archive! This is a database that collects all rockets, missions and locations present in the famous 1960’s-70’s battle to the moon. Not only can you see the famous American statistics, the competitive Soviet Union’s marvels are recorded as well. To learn more about what exactly the Space Race is and famous events, click the ‘About’ page.</p></div>
     <img src="{{ url_for('static', filename='images/pls.jpg') }}" style="width:100%">
    </div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

      <h2>How do I use this site?</h2>
      <p>Select any of the pages from the menu above to begin exploring, there’s a unique search bar for each page containing information. Click on the card that fascinates you to read more information!</p>
      <h2>Begin Exploring!</h2>
  </div>
{% endblock body %}