{% extends "base.html" %}

<link rel="stylesheet" href="style.css">

{% block body %}
  <div class="w3-container w3-margin-top">
      <h1>“For the eyes of the world now look into space, to the Moon, and to the planets beyond.”</h1>
      <p>Speaker: President John F. Kennedy, Event: Address to Congress on Urgent National Needs, 1961</p>
      <p>Welcome to the Space Race Archive! This is a database that collects all rockets, missions and locations present in the famous 1960’s-70’s battle to the moon. Not only can you see the famous American statistics, the competitive Soviet Union’s marvels are recorded as well. To learn more about what exactly the Space Race is and famous events, click the ‘About’ page.</p>
      <h2>How do I use this site?</h2>
      <p>Select any of the pages from the menu above to begin exploring, there’s a unique search bar for each page containing information. Click on the card that fascinates you to read more information!</p>
      <h2>Begin Exploring!</h2>
  </div>
{% endblock body %}