{% extends 'base.html' %}

<head>
  <link rel="stylesheet" href="style.css">
</head>

{% block body %}
<h1>Joint Data</h1>
    <div class="main-location w3-grid w3-animate-bottom" style= "display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
        {% for joint in joints %}
            <div class="main-location w3-card-4 w3-center w3-hover-shadow">
                    <div class="detail w3-card-4">
                        <h3>Mission Name: {{ joint.mission_name }}</h3>
                        <p>Rocket ID: {{ joint.rocket_ID }}</p>
                        <p>Location_ID{{ joint.location_ID }}</p>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}