{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <h2>Joint Data</h2>
    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>Mission Name</th>
                <th>Rocket ID</th>
                <th>Location ID</th>
            </tr>
        </thead>
        <tbody>
            {% for joint in joints %}
            <tr>
                <td>{{ joint.mission_name }}</td>
                <td>{{ joint.rocket_ID }}</td>
                <td>{{ joint.location_ID }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}