<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mission Overview</title>
</head>

<body>
 <nav class="w3-bar nav w3-container">
      <a href="{{ url_for('get_rockets') }}" class="w3-bar-item w3-button">Rockets</a>
      <a href="{{ url_for('get_missions') }}" class="w3-bar-item w3-button">Missions</a>
      <a href="{{ url_for('get_locations') }}" class="w3-bar-item w3-button">Locations</a>
      <a href="{{ url_for('get_joints') }}" class="w3-bar-item w3-button">Mission Overview</a>
     <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
 </nav>
</body>
<link rel="stylesheet" href="style.css">
  
{% block body %}

    <div class="input-container">
        <input id="cardSearchInput" type="text" placeholder="Search...">
    </div>

        <h1>Mission Overview</h1>
        <div class="main-joint w3-grid w3-animate-bottom" style= "display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
            {% for joint in joints %}
                <div class="main-joint w3-card-4 w3-center w3-hover-shadow">
                        <div class="detail w3-card-4">
                            <h3>Mission Name: {{ joint.mission_name }}</h3>
                            <p>Rocket ID: {{ joint.rocket_ID }}</p>
                            <p>Location_ID{{ joint.location_ID }}</p>
                        </div>
                </div>
            {% endfor %}
        </div>

    <script>
        let searchInput = document.getElementById('cardSearchInput');
        let cardLinks = document.querySelectorAll('.main-joint');

        if (searchInput) {
        searchInput.addEventListener('keyup', function(event) {
            let searchText = event.target.value.toLowerCase();

            cardLinks.forEach(function(cardLink) {
            let cardText = cardLink.innerText.toLowerCase();

            if (cardText.includes(searchText)) {
                cardLink.style.display = ""; // 
            } else {
                cardLink.style.display = "none"; //
            }
            });
        });
        }
    </script>
    
{% endblock body %}