{% extends "base.html" %}

<head>
  <link rel="stylesheet" href="style.css">
</head>

{% block body %}
  <h1>Mission Log</h1>

  <div class="mission-container">
    {% for mission in missions %}
      <div class="card">
        <h3>{{ mission.name }}</h3>
        <p>Status: {{ mission.status }}</p>
        <p>Company: {{ mission.company }}</p>
        <p>Date & Time: {{ mission.date }} at {{ mission.time }}</p>
  
      <p><strong>Price:</strong> 
      {% if mission.price and mission.price != 'None' and mission.price != '' %}
        ${{ mission.price }}
      {% else %}
        N/A
      {% endif %}
      </p>

    </div>
{% endfor %}

  <div class="w3-panel w3-border-top w3-border-bottom w3-border-green">
    <p>All missions from 1960-70.</p>
  </div>
{% endblock body %}