{% extends "base.html" %}

{% block body %}
  <h1>Mission Log</h1>

  <div class="mission-container">
    {% for mission in missions %}
      <div class="card">
        <h3>{{ mission.name }}</h3>
        <p>Status: {{ mission.status }}</p>
        <p>Company: {{ mission.company }}</p>
        <p>Date & Time: {{ mission.date }} at {{ mission.time }}</p>
        
        {% if mission.price %}
          <p>Price:${{ mission.price }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="w3-panel w3-border-top w3-border-bottom w3-border-green">
    <p>All missions from 1960-70.</p>
  </div>
{% endblock body %}