<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<link rel="stylesheet" href="style.css">

{% block body %}
  <div class="mission-detail w3-container w3-animate-left" style="gap: 10px">
    <a href="{{ url_for('get_missions') }}" class="back-btn">&larr; Back to Roster</a>

    <div class="card-wrapper">
        <div class="detail w3-card-4">
            <h3>{{ mission.name }}</h3>
            <p>Status: {{ mission.status }}</p>
            <p>Company: {{ mission.company }}</p>
            <p>Date & Time: {{ mission.date }} at {{ mission.time }}</p>
            <p><strong>Price:</strong> 
                {% if mission.price and mission.price != 'None' and mission.price != '' %}
                    ${{ mission.price }}
                {% else %}
                    N/A
                {% endif %}
        </div>
    </div>
{% endblock body %}