<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>Mission Details!</title>
</head>

<link rel="stylesheet" href="style.css">

{% block body %}
  <div class="mission-detail w3-container w3-animate-left" style="gap: 10px">
    <a href="{{ url_for('get_missions') }}" class="back-btn">&larr; Back to Roster</a>

    <div class="card-wrapper">
        <div class="mdetail w3-card-4">
            <h3 id="mname">{{ mission.name }}</h3>
            <p>Mission ID: <mark>{{ mission.mission_ID }}</mark></p>
            <p>Status: <mark>{{ mission.status }}</mark></p>
            <p>Company: <mark>{{ mission.company }}</mark></p>
            <p>Date & Time: <mark>{{ mission.date }} at {{ mission.time }}</mark></p>
            <p>Price: <mark>
                {% if mission.price and mission.price != 'None' and mission.price != '' %}
                    ${{ mission.price }}
                {% else %}
                    N/A
                {% endif %}
                </mark>
        </div>
    </div>
{% endblock body %}