{% extends "base.html" %}

<link rel="stylesheet" href="style.css">

{% block body %}
  <div class="rocket-detail w3-container w3-animate-left" style="gap: 10px">
    <a href="{{ url_for('get_rockets') }}" class="back-btn">&larr; Back to Roster</a>

    <div class="card-wrapper">
      <div class="detail w3-card-4">
        <h1>{{ rocket.rocket_name }}</h1>
        <p><strong>Rocket ID:</strong> {{ rocket.rocket_ID }}</p>
        <p><strong>Status:</strong> {{ rocket.rocket_status }}</p>
      </div>

      <div class="rocket w3-card-4">
        <img src="{{ url_for('static', filename='images/' ~ rocket.imageURL) }}" alt="{{ rocket.rocket_name }}">
      </div>
    </div>
  </div>
{% endblock body %}