{% extends "base.html" %}

{% block body %}
  <h1>Mission Specs & Overview</h1>

  <div class="rocket_location-container">
    {% for rocket in rockets %}
      <div class="card">
        <p>Rocket: {{ rocket_location.rocket_ID }}</p>
        <p>Location: {{ rocket_location.location_ID }}</p>
        <p>Mission Name: {{ rocket_location.mission_name }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="w3-panel w3-border-top w3-border-bottom w3-border-green">
    <p>Find what rocket & location each of your favourite missions used!</p>
  </div>
{% endblock body %}