{% extends "base.html" %}

{% block body %}
  <h1>Rocket Roster</h1>

  <div class="rocket-container">
    {% for rocket in rockets %}
      <div class="card">
        <h3>{{ rocket.rocket_name }}</h3>
        <p>Status: {{ rocket.rocket_status }}</p>
        
        {% if rocket.image_url %}
       <img class="imageURL" src="{{ url_for('static', filename=rocket.imageURL) }}" alt="{{ rocket.rocket_name }}">
        {% endif %}

      </div>
    {% endfor %}
  </div>

  <div class="w3-panel w3-border-top w3-border-bottom w3-border-green">
    <p>All rockets from 1960-70.</p>
  </div>
{% endblock body %}